# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# SSH and security files
.ssh/
**/id_*
**/.*_history